build
build/*
test/
test/*
toolchain
toolchain/*
.vscode
.vscode/*
bochs_config
*.ini
.scon*
build_helpers/__pycache__
*.txt
limine/
limine/*
horizon.iso
kernel/include/limine.h
kernel/obj
kernel/bin
ext